:root {
  //Primary
  --verydarkmagenta: hsl(300, 43%, 22%); //primary-700
  --softpink: hsl(333, 80%, 67%); //primary-300

  //Neutral
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%); //neutral-100
  --Light-Grayish-Magenta: hsl(300, 24%, 96%); //neutral-200
  --White: hsl(0, 0%, 100%); //neutral-300

  //Fonts
  --ff-primary: "Spartan", sans-serif;

  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;

  --br: 0.5rem;

  @media (min-width: 50em) {
    --fs-900: 3rem;
  }
}
